nav{
    width: 100vw;
    height: 150px;
}
.logo{
    position: relative;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 05px;
}
.fakebutton{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    position: relative;
    left: 700px;
}
.fakebutton1{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    position: relative;
    left: 720px;
}
.fakebutton2{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    position: relative;
    left: 740px;
}
.fakebutton3{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    position: relative;
    left: 760px;
}
.fakebutton4{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    position: relative;
    left: 780px;
}
.fakebutton5{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    position: relative;
    left: 800px;
}
.fakebutton:hover{
    background-color: blue;
}
.fakebutton1:hover{
    background-color: blue;
}
.fakebutton2:hover{
    background-color: blue;
}
.fakebutton3:hover{
    background-color: blue;
}
.fakebutton4:hover{
    background-color: blue;
}
.fakebutton5:hover{
    background-color: blue;
}

.flex-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    text-align: center;

}
.flex-item1{
    width: 200px;
    height: 200px;
    background-color: chocolate;
    position: relative;
    top: 150px;
    left: 400px;
   animation: pavan 4s linear;
}
.flex-item1:hover{
    transform: scale(2) ;
    background-color: red;

}

    

.flex-item2{
    width: 200px;
    height: 200px;
    background-color: chocolate;
    position: relative;
    top: 150px;
    left: 450px;
    
}
.flex-item2:hover{
    width: 100px;
    height: 100px;
    background-color: red;

}
.flex-item3{
    width: 200px;
    height: 200px;
    background-color: chocolate;
    position: relative;
    top: 150px;
    left: 500px;
}
.flex-item3:hover{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
}
.flex-item4{
    width: 200px;
    height: 200px;
    background-color: chocolate;
    position: relative;
    top: 150px;
    left: 550px;
}
.flex-item4:hover{
    width: 300px;
    background-color: red;
}
b{
    color: white;
    text-align: center;
    
}

@media only screen and (max-width:400px) {
    .nav{
        width: 100vw;
    }
    
    .flex-container{
        display: inline-block;
        height: 200vh;
    }
    .flex-item1{
        position: relative;
        top: 30px;
        left: 30px;
    }
    .flex-item2{
        position: relative;
        top: 100px;
        left: 30px;
    }
    .flex-item3{
        position: relative;
        top: 150px;
        left: 30px;
    }
    .flex-item4{
        position: relative;
        top: 200px;
        left: 30px;
    }
}